/* styles.css */

/* Общие стили */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: center;
}

#pixel-grid-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Основной стиль сетки */
#pixel-grid {
    display: grid;
    grid-template-columns: repeat(1000, 10px);
    grid-template-rows: repeat(1000, 10px);
    background-color: #f4f4f4;
}

/* Пиксели */
.pixel {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border: 0.5px solid #ddd;
    cursor: pointer;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 10000px) {
    .pixel {
        width: 20px;
        height: 20px;
    }
    #pixel-grid {
        grid-template-columns: repeat(1000, 20px);
        grid-template-rows: repeat(1000, 20px);
    }
}
