body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.controls {
    margin: 20px 0;
}

#pixel-container {
    width: 500px; /* начальный видимый размер */
    height: 500px;
    overflow: scroll;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
}

#pixel-grid {
    display: grid;
    grid-template-columns: repeat(1000, 1px);
    grid-template-rows: repeat(1000, 1px);
    width: 1000px;
    height: 1000px;
    background-color: #f0f0f0;
    position: relative;
    overflow: auto;
}

.pixel {
    width: 5px;
    height: 5px;
    background-color: #141414;
}

